In [1]:
import kaggle
import zipfile
import pandas as pd

In [2]:
#!kaggle datasets download -d rashikrahmanpritom/data-science-job-posting-on-glassdoor

In [3]:
# zipfile_name = r'D:\OneDrive\Data Analysis\PortfolioProject\DataScience_Job_Posting_Glassdoor\data-science-job-posting-on-glassdoor.zip'
# with zipfile.ZipFile(zipfile_name, 'r') as file:
#     file.extractall()

FIRST LOOK INTO THE DATASET: DATA CLEANING

In [4]:
# assign dataframe variable and take a first look at the csv file
df = pd.read_csv('Uncleaned_DS_jobs.csv')

In [5]:
# check number of cols/ rows, datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [6]:
# view data in dataframe
df.head(5)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [7]:
# Check for errors/ NaN and unique values in 'Job Title' column.
print(df['Job Title'].isnull().sum())
print(df['Salary Estimate'].nunique())
print(df['Salary Estimate'].unique())

0
30
['$137K-$171K (Glassdoor est.)' '$75K-$131K (Glassdoor est.)'
 '$79K-$131K (Glassdoor est.)' '$99K-$132K (Glassdoor est.)'
 '$90K-$109K (Glassdoor est.)' '$101K-$165K (Glassdoor est.)'
 '$56K-$97K (Glassdoor est.)' '$79K-$106K (Glassdoor est.)'
 '$71K-$123K (Glassdoor est.)' '$90K-$124K (Glassdoor est.)'
 '$91K-$150K (Glassdoor est.)' '$141K-$225K (Glassdoor est.)'
 '$145K-$225K(Employer est.)' '$79K-$147K (Glassdoor est.)'
 '$122K-$146K (Glassdoor est.)' '$112K-$116K (Glassdoor est.)'
 '$110K-$163K (Glassdoor est.)' '$124K-$198K (Glassdoor est.)'
 '$79K-$133K (Glassdoor est.)' '$69K-$116K (Glassdoor est.)'
 '$31K-$56K (Glassdoor est.)' '$95K-$119K (Glassdoor est.)'
 '$212K-$331K (Glassdoor est.)' '$66K-$112K (Glassdoor est.)'
 '$128K-$201K (Glassdoor est.)' '$138K-$158K (Glassdoor est.)'
 '$80K-$132K (Glassdoor est.)' '$87K-$141K (Glassdoor est.)'
 '$92K-$155K (Glassdoor est.)' '$105K-$167K (Glassdoor est.)']

In [8]:
# Check for errors/ NaN and unique values in 'Salary Estimate' column.
print(df['Salary Estimate'].isnull().sum())
print(df['Salary Estimate'].nunique())
print(df['Salary Estimate'].unique())

0
30
['$137K-$171K (Glassdoor est.)' '$75K-$131K (Glassdoor est.)'
 '$79K-$131K (Glassdoor est.)' '$99K-$132K (Glassdoor est.)'
 '$90K-$109K (Glassdoor est.)' '$101K-$165K (Glassdoor est.)'
 '$56K-$97K (Glassdoor est.)' '$79K-$106K (Glassdoor est.)'
 '$71K-$123K (Glassdoor est.)' '$90K-$124K (Glassdoor est.)'
 '$91K-$150K (Glassdoor est.)' '$141K-$225K (Glassdoor est.)'
 '$145K-$225K(Employer est.)' '$79K-$147K (Glassdoor est.)'
 '$122K-$146K (Glassdoor est.)' '$112K-$116K (Glassdoor est.)'
 '$110K-$163K (Glassdoor est.)' '$124K-$198K (Glassdoor est.)'
 '$79K-$133K (Glassdoor est.)' '$69K-$116K (Glassdoor est.)'
 '$31K-$56K (Glassdoor est.)' '$95K-$119K (Glassdoor est.)'
 '$212K-$331K (Glassdoor est.)' '$66K-$112K (Glassdoor est.)'
 '$128K-$201K (Glassdoor est.)' '$138K-$158K (Glassdoor est.)'
 '$80K-$132K (Glassdoor est.)' '$87K-$141K (Glassdoor est.)'
 '$92K-$155K (Glassdoor est.)' '$105K-$167K (Glassdoor est.)']

In [9]:
# Replace '$', 'K', and texts with '' in 'Salary Estimate' column
df['Salary Estimate'] = df['Salary Estimate'].replace({r'\$' : '',
                                                      'K' : '',
                                                      r'\(Glassdoor est.\)' : '',
                                                      r'\(Employer est.\)' : ''}, regex=True)
print(df['Salary Estimate'].unique())

['137-171 ' '75-131 ' '79-131 ' '99-132 ' '90-109 ' '101-165 ' '56-97 '
 '79-106 ' '71-123 ' '90-124 ' '91-150 ' '141-225 ' '145-225' '79-147 '
 '122-146 ' '112-116 ' '110-163 ' '124-198 ' '79-133 ' '69-116 ' '31-56 '
 '95-119 ' '212-331 ' '66-112 ' '128-201 ' '138-158 ' '80-132 ' '87-141 '
 '92-155 ' '105-167 ']

In [10]:
# Check for errors/ NaN values in 'Company Name' column.
print(df['Job Description'].isnull().sum())

0

In [11]:
# Check for errors/ NaN and unique values in 'Rating' column.
print(df['Rating'].isnull().sum())
print(df['Rating'].unique())

0
[ 3.1  4.2  3.8  3.5  2.9  3.9  4.4  3.6  4.5  4.7  3.7  3.4  4.1  3.2
  4.3  2.8  5.   4.8  3.3  2.7  2.2  2.6  4.   2.5  4.9  2.4 -1.   2.3
  4.6  3.   2.1  2. ]

In [12]:
# Change values of 'Rating' column that contains -1 into 0 
df['Rating'] = df['Rating'].apply(lambda x: 0 if x < 0 else x)
print(df['Rating'].unique())

[3.1 4.2 3.8 3.5 2.9 3.9 4.4 3.6 4.5 4.7 3.7 3.4 4.1 3.2 4.3 2.8 5.  4.8
 3.3 2.7 2.2 2.6 4.  2.5 4.9 2.4 0.  2.3 4.6 3.  2.1 2. ]

In [13]:
# Check for errors/ NaN and unique values in 'Company Name' column.
print(df['Company Name'].isnull().sum())
df['Company Name'].unique()[:10]

0

array(['Healthfirst\n3.1', 'ManTech\n4.2', 'Analysis Group\n3.8',
       'INFICON\n3.5', 'Affinity Solutions\n2.9', 'HG Insights\n4.2',
       'Novartis\n3.9', 'iRobot\n3.5', 'Intuit - Data\n4.4',
       'XSELL Technologies\n3.6'], dtype=object)

In [14]:
# Remove values after \n including "\n"
df['Company Name'] = df['Company Name'].str.split(r'\n').str[0]
df['Company Name'].unique()[:10]

array(['Healthfirst', 'ManTech', 'Analysis Group', 'INFICON',
       'Affinity Solutions', 'HG Insights', 'Novartis', 'iRobot',
       'Intuit - Data', 'XSELL Technologies'], dtype=object)

In [15]:
# Check for errors/ NaN and unique values in 'Location' column.
print(df['Location'].isnull().sum())
df['Location'].unique()[:10]

0

array(['New York, NY', 'Chantilly, VA', 'Boston, MA', 'Newton, MA',
       'Santa Barbara, CA', 'Cambridge, MA', 'Bedford, MA',
       'San Diego, CA', 'Chicago, IL', 'Herndon, VA'], dtype=object)

In [16]:
# Check for errors/ NaN and unique values in 'Headquarters' column.
print(df['Headquarters'].isnull().sum())
print(df['Headquarters'].unique()[:10])

0
['New York, NY' 'Herndon, VA' 'Boston, MA' 'Bad Ragaz, Switzerland'
 'Santa Barbara, CA' 'Basel, Switzerland' 'Bedford, MA'
 'Mountain View, CA' 'Chicago, IL' 'Mc Lean, VA']

In [17]:
# Check for errors/ NaN and unique values in 'Size' column.
print(df['Size'].isnull().sum())
df['Size'].nunique()
df['Size'].unique()

0

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees', '10000+ employees',
       '201 to 500 employees', '1 to 50 employees', '-1', 'Unknown'],
      dtype=object)

In [18]:
# Replace -1 and 'Unknown' by NA
df['Size'] = df['Size'].replace(['-1', 'Unknown'], pd.NA)
print(df['Size'].unique())

['1001 to 5000 employees' '5001 to 10000 employees'
 '501 to 1000 employees' '51 to 200 employees' '10000+ employees'
 '201 to 500 employees' '1 to 50 employees' <NA>]

In [19]:
# Check for errors/ NaN and unique values in 'Founded' column.
print(df['Founded'].isnull().sum())
print(df['Founded'].nunique())
print(df['Founded'].unique())

0
103
[1993 1968 1981 2000 1998 2010 1996 1990 1983 2014 2012 2016 1965 1973
 1986 1997 2015 1945 1988 2017 2011 1967 1860 1992 2003 1951 2005 2019
 1925 2008 1999 1978 1966 1912 1958 2013 1849 1781 1926 2006 1994 1863
 1995   -1 1982 1974 2001 1985 1913 1971 1911 2009 1959 2007 1939 2002
 1961 1963 1969 1946 1957 1953 1948 1850 1851 2004 1976 1918 1954 1947
 1955 2018 1937 1917 1935 1929 1820 1952 1932 1894 1960 1788 1830 1984
 1933 1880 1887 1970 1942 1980 1989 1908 1853 1875 1914 1898 1956 1977
 1987 1896 1972 1949 1962]

In [20]:
# Replace -1 by NA
df['Founded'] = df['Founded'].replace(-1, pd.NA)
print(df['Founded'].nunique())
print(df['Founded'].unique())

102
[1993 1968 1981 2000 1998 2010 1996 1990 1983 2014 2012 2016 1965 1973
 1986 1997 2015 1945 1988 2017 2011 1967 1860 1992 2003 1951 2005 2019
 1925 2008 1999 1978 1966 1912 1958 2013 1849 1781 1926 2006 1994 1863
 1995 <NA> 1982 1974 2001 1985 1913 1971 1911 2009 1959 2007 1939 2002
 1961 1963 1969 1946 1957 1953 1948 1850 1851 2004 1976 1918 1954 1947
 1955 2018 1937 1917 1935 1929 1820 1952 1932 1894 1960 1788 1830 1984
 1933 1880 1887 1970 1942 1980 1989 1908 1853 1875 1914 1898 1956 1977
 1987 1896 1972 1949 1962]

In [21]:
# Check for errors/ NaN and unique values in 'Founded' column.
print(df['Type of ownership'].isnull().sum())
print(df['Type of ownership'].nunique())
print(df['Type of ownership'].unique())

0
13
['Nonprofit Organization' 'Company - Public' 'Private Practice / Firm'
 'Company - Private' 'Government' 'Subsidiary or Business Segment'
 'Other Organization' '-1' 'Unknown' 'Hospital' 'Self-employed'
 'College / University' 'Contract']

In [22]:
# Replace -1 and 'Unknown by NA
df['Type of ownership'] = df['Type of ownership'].replace(['-1', 'Unknown'], pd.NA)
print(df['Type of ownership'].nunique())
print(df['Type of ownership'].unique())

11
['Nonprofit Organization' 'Company - Public' 'Private Practice / Firm'
 'Company - Private' 'Government' 'Subsidiary or Business Segment'
 'Other Organization' <NA> 'Hospital' 'Self-employed'
 'College / University' 'Contract']

In [23]:
# Check for errors/ NaN and unique values in 'Industry' column.
print(df['Industry'].isnull().sum())
print(df['Industry'].nunique())
print(df['Industry'].unique())

0
58
['Insurance Carriers' 'Research & Development' 'Consulting'
 'Electrical & Electronic Manufacturing' 'Advertising & Marketing'
 'Computer Hardware & Software' 'Biotech & Pharmaceuticals'
 'Consumer Electronics & Appliances Stores'
 'Enterprise Software & Network Solutions' 'IT Services' 'Energy'
 'Chemical Manufacturing' 'Federal Agencies' 'Internet'
 'Health Care Services & Hospitals'
 'Investment Banking & Asset Management' 'Aerospace & Defense' 'Utilities'
 '-1' 'Express Delivery Services' 'Staffing & Outsourcing'
 'Insurance Agencies & Brokerages' 'Consumer Products Manufacturing'
 'Industrial Manufacturing' 'Food & Beverage Manufacturing'
 'Banks & Credit Unions' 'Video Games' 'Shipping'
 'Telecommunications Services' 'Lending'
 'Cable, Internet & Telephone Providers' 'Real Estate'
 'Venture Capital & Private Equity' 'Miscellaneous Manufacturing'
 'Oil & Gas Services' 'Transportation Equipment Manufacturing'
 'Telecommunications Manufacturing' 'Transportation Management'
 'News Outlet' 'Architectural & Engineering Services'
 'Food & Beverage Stores' 'Other Retail Stores'
 'Hotels, Motels, & Resorts' 'State & Regional Agencies'
 'Financial Transaction Processing' 'Timber Operations'
 'Colleges & Universities' 'Travel Agencies' 'Accounting'
 'Logistics & Supply Chain' 'Farm Support Services' 'Social Assistance'
 'Construction' 'Department, Clothing, & Shoe Stores' 'Publishing'
 'Health, Beauty, & Fitness' 'Wholesale' 'Rail']

In [24]:
# Replace -1 by NA
df['Industry'] = df['Industry'].replace('-1', pd.NA)
print(df['Industry'].nunique())
print(df['Industry'].unique())

57
['Insurance Carriers' 'Research & Development' 'Consulting'
 'Electrical & Electronic Manufacturing' 'Advertising & Marketing'
 'Computer Hardware & Software' 'Biotech & Pharmaceuticals'
 'Consumer Electronics & Appliances Stores'
 'Enterprise Software & Network Solutions' 'IT Services' 'Energy'
 'Chemical Manufacturing' 'Federal Agencies' 'Internet'
 'Health Care Services & Hospitals'
 'Investment Banking & Asset Management' 'Aerospace & Defense' 'Utilities'
 <NA> 'Express Delivery Services' 'Staffing & Outsourcing'
 'Insurance Agencies & Brokerages' 'Consumer Products Manufacturing'
 'Industrial Manufacturing' 'Food & Beverage Manufacturing'
 'Banks & Credit Unions' 'Video Games' 'Shipping'
 'Telecommunications Services' 'Lending'
 'Cable, Internet & Telephone Providers' 'Real Estate'
 'Venture Capital & Private Equity' 'Miscellaneous Manufacturing'
 'Oil & Gas Services' 'Transportation Equipment Manufacturing'
 'Telecommunications Manufacturing' 'Transportation Management'
 'News Outlet' 'Architectural & Engineering Services'
 'Food & Beverage Stores' 'Other Retail Stores'
 'Hotels, Motels, & Resorts' 'State & Regional Agencies'
 'Financial Transaction Processing' 'Timber Operations'
 'Colleges & Universities' 'Travel Agencies' 'Accounting'
 'Logistics & Supply Chain' 'Farm Support Services' 'Social Assistance'
 'Construction' 'Department, Clothing, & Shoe Stores' 'Publishing'
 'Health, Beauty, & Fitness' 'Wholesale' 'Rail']

In [25]:
# Check for errors/ NaN and unique values in 'Sector' column.
print(df['Sector'].isnull().sum())
print(df['Sector'].nunique())
print(df['Sector'].unique())

0
23
['Insurance' 'Business Services' 'Manufacturing' 'Information Technology'
 'Biotech & Pharmaceuticals' 'Retail' 'Oil, Gas, Energy & Utilities'
 'Government' 'Health Care' 'Finance' 'Aerospace & Defense' '-1'
 'Transportation & Logistics' 'Media' 'Telecommunications' 'Real Estate'
 'Travel & Tourism' 'Agriculture & Forestry' 'Education'
 'Accounting & Legal' 'Non-Profit' 'Construction, Repair & Maintenance'
 'Consumer Services']

In [26]:
# Replace -1 by NA
df['Sector'] = df['Sector'].replace('-1', pd.NA)
print(df['Sector'].nunique())
print(df['Sector'].unique())

22
['Insurance' 'Business Services' 'Manufacturing' 'Information Technology'
 'Biotech & Pharmaceuticals' 'Retail' 'Oil, Gas, Energy & Utilities'
 'Government' 'Health Care' 'Finance' 'Aerospace & Defense' <NA>
 'Transportation & Logistics' 'Media' 'Telecommunications' 'Real Estate'
 'Travel & Tourism' 'Agriculture & Forestry' 'Education'
 'Accounting & Legal' 'Non-Profit' 'Construction, Repair & Maintenance'
 'Consumer Services']

In [27]:
# Check for errors/ NaN and unique values in 'revenue' column.
print(df['Revenue'].isnull().sum())
print(df['Revenue'].nunique())
print(df['Revenue'].unique())

0
14
['Unknown / Non-Applicable' '$1 to $2 billion (USD)'
 '$100 to $500 million (USD)' '$10+ billion (USD)'
 '$2 to $5 billion (USD)' '$500 million to $1 billion (USD)'
 '$5 to $10 billion (USD)' '$10 to $25 million (USD)'
 '$25 to $50 million (USD)' '$50 to $100 million (USD)'
 '$1 to $5 million (USD)' '$5 to $10 million (USD)'
 'Less than $1 million (USD)' '-1']

In [28]:
# Replace '-1' and 'Unknown / Non-Applicable' by NA
df['Revenue'] = df['Revenue'].replace(['-1', 'Unknown / Non-Applicable'], pd.NA)
print(df['Revenue'].nunique())
print(df['Revenue'].unique())

12
[<NA> '$1 to $2 billion (USD)' '$100 to $500 million (USD)'
 '$10+ billion (USD)' '$2 to $5 billion (USD)'
 '$500 million to $1 billion (USD)' '$5 to $10 billion (USD)'
 '$10 to $25 million (USD)' '$25 to $50 million (USD)'
 '$50 to $100 million (USD)' '$1 to $5 million (USD)'
 '$5 to $10 million (USD)' 'Less than $1 million (USD)']

In [29]:
# Check for errors/ NaN and unique values in 'Competitors' column.
print(df['Competitors'].isnull().sum())
print(df['Competitors'].nunique())
print(df['Competitors'].unique()[:10])

0
108
['EmblemHealth, UnitedHealth Group, Aetna' '-1'
 'MKS Instruments, Pfeiffer Vacuum, Agilent Technologies'
 'Commerce Signals, Cardlytics, Yodlee' 'Square, PayPal, H&R Block'
 'Leidos, CACI International, Booz Allen Hamilton'
 'Slalom, Daugherty Business Solutions'
 'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory'
 'CDW, PCM, SHI International'
 'Crossix Solutions Inc., AppNexus, The Trade Desk']

In [30]:
# Replace '-1' by NA
df['Competitors'] = df['Competitors'].replace('-1', pd.NA)
print(df['Competitors'].nunique())
print(df['Competitors'].unique()[:10])

107
['EmblemHealth, UnitedHealth Group, Aetna' <NA>
 'MKS Instruments, Pfeiffer Vacuum, Agilent Technologies'
 'Commerce Signals, Cardlytics, Yodlee' 'Square, PayPal, H&R Block'
 'Leidos, CACI International, Booz Allen Hamilton'
 'Slalom, Daugherty Business Solutions'
 'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory'
 'CDW, PCM, SHI International'
 'Crossix Solutions Inc., AppNexus, The Trade Desk']

DATA TRANSFORMATION

In [31]:
#Split Salary Estimate into new columns of min, max, and average
df[['salary_min', 'salary_max']] = df['Salary Estimate'].str.extract(r'(\d+)-(\d+)', expand=True).astype(int)
df['salary_avg'] = df[['salary_min', 'salary_max']].mean(axis=1).astype(int)
df[['salary_min', 'salary_max', 'salary_avg']].head()

   salary_min  salary_max  salary_avg
0         137         171         154
1         137         171         154
2         137         171         154
3         137         171         154
4         137         171         154

In [32]:
df['Job Title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [33]:
# Group Job Titles by category
df['job_category'] = df['Job Title'].apply(lambda x: 'Data Scientist' if ('Data Scientist' in x) or ('Data Science' in x)
                                           else 'Data Analyst' if ('Data Analyst' in x) or ('Analytics' in x)
                                           else 'Data Engineer' if ('Data Engineer' in x)
                                           else 'Machine Learning Engineer' if ('Machine Learning' in x)
                                           else 'Others')

In [34]:
print(df['Job Title'].nunique())
print(df['job_category'].nunique())

172
5

In [35]:
# Group jobs by job_rank/ hierarchy
df['job_hierarchy'] = df['Job Title'].apply(lambda x: 'Senior' if ('Sr' in x) or ('Senior' in x) or ('Experienced' in x)
                                            else 'Staff' if ('Staff' in x)
                                            else 'Manager/ President' if ('Manager' in x) or ('President' in x)
                                            else 'Director' if ('Director' in x)
                                            else 'Executive')

In [36]:
print(df['Job Title'].nunique())
print(df['job_hierarchy'].nunique())

172
5

In [37]:
# Split work location into city/ township and state
df[['City', 'State', 'dummy']] = df['Location'].str.split(",", expand = True)

In [38]:
# Split resulted in an extra column (expect 2), proceed to verify data within columns
print(df['State'].unique())
print(df['City'].unique())

[' NY' ' VA' ' MA' ' CA' ' IL' ' MO' ' WA' ' DC' None ' TN' ' TX' ' PA'
 ' AZ' ' WI' ' GA' ' FL' ' NE' ' KS' ' NH' ' NJ' ' LA' ' OH' ' IN' ' MD'
 ' CO' ' UT' ' OR' ' MI' ' SC' ' MS' ' AL' ' RI' ' IA' ' MN' ' OK' ' CT'
 ' NC' ' DE' ' Anne Arundel' ' WV']
['New York' 'Chantilly' 'Boston' 'Newton' 'Santa Barbara' 'Cambridge'
 'Bedford' 'San Diego' 'Chicago' 'Herndon' 'Saint Louis' 'Richland'
 'Northbrook' 'Washington' 'Remote' 'Memphis' 'Plano' 'West Grove'
 'Phoenix' 'Appleton' 'Atlanta' 'Orlando' 'Lexington' 'McLean'
 'San Francisco' 'Sheboygan' 'United States' 'Bothell' 'Lincoln'
 'Overland Park' 'Santa Monica' 'Portsmouth' 'Ewing' 'South San Francisco'
 'Palo Alto' 'Bellevue' 'New Orleans' 'Akron' 'Fort Wayne' 'Woburn'
 'Carson' 'Coral Gables' 'Santa Clara' 'Brisbane' 'Winter Park'
 'Redwood City' 'Peoria' 'Ipswich' 'Carmel' 'Emeryville' 'Gaithersburg'
 'Longmont' 'Austin' 'Yakima' 'Santa Cruz' 'Springfield' 'Alexandria'
 'Utah' 'Reston' 'Denver' 'New Jersey' 'Aurora' 'Hill AFB' 'Chandler'
 'Indianapolis' 'Nashville' 'Timonium' 'Burlingame' 'Annapolis Junction'
 'Bethesda' 'Dayton' 'Schaumburg' 'Cupertino' 'Lehi' 'Culver City'
 'Lake Oswego' 'San Mateo' 'Holyoke' 'Woodbridge' 'Dearborn'
 'Maryland Heights' 'Rockville' 'Carpinteria' 'Columbia' 'Hauppauge'
 'Fort Meade' 'Vicksburg' 'Birmingham' 'Blue Bell' 'Cincinnati'
 'Harrisburg' 'Oak Ridge' 'San Carlos' 'Waltham' 'Fort Worth' 'Smithfield'
 'Cedar Rapids' 'Fort Belvoir' 'Linthicum Heights' 'Maple Plain' 'Tulsa'
 'Baltimore' 'Oklahoma City' 'Scotts Valley' 'Spartanburg' 'Hartford'
 'Beavercreek' 'Norfolk' 'Charlotte' 'Champaign' 'Texas' 'Hoboken'
 'Lebanon' 'Oakland' 'Melbourne' 'Cleveland' 'Norwell' 'San Jose'
 'Piscataway' 'Danvers' 'Vienna' 'Livermore' 'Pittsburgh' 'Irvine'
 'Oshkosh' 'Menlo Park' 'Dallas' 'Arlington' 'Monroe' 'Sacramento'
 'Hampton' 'Richmond' 'Monterey' 'Woodlawn' 'Ann Arbor' 'Concord' 'Durham'
 'Kent' 'Laurel' 'Falls Church' 'Thousand Oaks' 'Edison' 'Adelphi'
 'Seattle' 'Sunnyvale' 'Fremont' 'Hamilton' 'Huntsville' 'Merrifield'
 'Madison' 'Philadelphia' 'Winston-Salem' 'Raleigh' 'Burbank' 'San Ramon'
 'Oxnard' 'Kansas City' 'Jersey City' 'Manchester' 'Winters' 'Brooklyn'
 'Germantown' 'Omaha' 'Open Fork' 'Ashburn' 'Lombard' 'Alpharetta'
 'Boulder' 'Mountain View' 'Trumbull' 'Sterling' 'Foster City' 'Frederick'
 'Colorado Springs' 'Southfield' 'San Clemente' 'The Woodlands'
 'Pleasanton' 'Wilmington' 'Fort Sam Houston' 'Lexington Park' 'Patuxent'
 'Fairfax' 'San Antonio' 'Silver Spring' 'Portland' 'Simi Valley'
 'New Bedford' 'Rancho Cucamonga' 'Collegeville' 'Minneapolis' 'Gahanna'
 'California' 'Wellesley' 'Orange' 'Bridgeport' 'Oakville' 'Naperville'
 'Houston' 'Redmond' 'West Chester' 'Quantico' 'Fort Lee' 'Irwindale']

In [39]:
# Identified 'Anne Arundel' and 'MD', check index of the data
print(df.loc[df['State'] == ' Anne Arundel'].index)
print(df.loc[df['dummy'] == ' MD'].index)
print(df.iloc[534, 20:23])

Index([534], dtype='int64')
Index([534], dtype='int64')
City          Patuxent
State     Anne Arundel
dummy               MD
Name: 534, dtype: object

In [40]:
# Update values into 'City' and 'State' column, drop 'dummy' column
df.iloc[534, 20] = 'Anne Arundel'
df.iloc[534, 21] = 'MD'
df.drop('dummy', axis=1, inplace=True)

In [41]:
# Match keywords relevant to jobs from 'Job Description' column 
keywords = ["machine learning", "python", "sql", "excel", "hadoop", "spark", "aws", "tableau", "power bi", "big data"]

for keyword in keywords:
    column_name = keyword.replace(' ', '_')
    df[column_name] = df['Job Description'].str.contains(keyword, case=False, na=False).astype(int)
pd.set_option("display.max_columns", None)

In [42]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,salary_min,salary_max,salary_avg,job_category,job_hierarchy,City,State,machine_learning,python,sql,excel,hadoop,spark,aws,tableau,power_bi,big_data
0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,<NA>,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154,Data Scientist,Senior,New York,NY,1,0,0,0,0,0,1,0,0,0
1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),<NA>,137,171,154,Data Scientist,Executive,Chantilly,VA,1,0,1,0,1,0,0,0,0,1
2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),<NA>,137,171,154,Data Scientist,Executive,Boston,MA,1,1,0,1,0,0,1,0,0,0
3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154,Data Scientist,Executive,Newton,MA,1,1,1,1,0,0,1,0,0,0
4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,<NA>,"Commerce Signals, Cardlytics, Yodlee",137,171,154,Data Scientist,Executive,New York,NY,1,1,1,1,0,0,0,0,0,0

In [44]:
df.to_csv('Cleaned_ds_jobs_data.csv', index=False)